
<footer class="mt-4 bg-dark text-white">
    <div class="container py-4">
        <div class="row text-center">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>We are committed to providing the best ticketing experience for events worldwide.</p>
                <p>Connect with decentralized web3 Eventoke today and explore limitless event possibilities.</p>
            </div>
            <div class="col-md-4">
                <h5>Useful Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="btn btn-sm button-three">Home</a></li>
                    <li><a href="/events" class="btn btn-sm button-three">All Events</a></li>
                    <li><a href="/resale" class="btn btn-sm button-three">Resale Tickets</a></li>
                    <li><a href="/account" class="btn btn-sm button-three">Account Details</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Check our Facebook page (opens in a new tab)" class="btn btn-sm button-three">Facebook</a></li>
                    <li><a href="https://youtube.com" target="_blank" rel="noopener" aria-label="Check our Youtube page (opens in a new tab)" class="btn btn-sm button-three">Youtube</a></li>
                    <li><a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Check our Instagram page (opens in a new tab)" class="btn btn-sm button-three">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3 third-color">
            <p>&copy; 2024 Eventoken.</p>
        </div>
    </div>
</footer>

</html>