<%- include partials/header.ejs %>

<body>
  <div class="text-center m-4">
    <h1><i class="bi bi-ticket-perforated first-color"></i> My Tickets</h1>
    <p>All your tickets in one place.</p>
  </div>

  <!-- Element to display the list of tickets -->
  <div class="d-flex justify-content-center">
    <ul id="ticketList" class="list-group col-9"></ul>
  </div>

  <!-- Modal for entering the recipient's address -->
  <div class="modal" id="transferModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Transfer Ticket</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="transferForm">
            <div class="form-group">
              <label for="recipientAddress">Recipient Address</label>
              <input type="text" class="form-control" id="recipientAddress" required>
              <input type="hidden" id="transferTicketId">
            </div>
            <button type="submit" class="btn button-one">Transfer</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal to list a ticket for sale -->
  <div class="modal fade" id="listTicketModal" tabindex="-1" role="dialog" aria-labelledby="listTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="listTicketModalLabel">List Ticket for Sale</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="listTicketForm">
            <div class="form-group">
              <label for="ticketPrice">Ticket price (ETH)</label>
              <input type="number" step="0.01" min="0" class="form-control" id="ticketPrice" placeholder="Enter ticket price" required>
              <input type="hidden" id="sellTicketId">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn button-two" data-dismiss="modal">Close</button>
          <button type="button" class="btn button-one" onclick="listTicketForSale()">List for sale</button>
        </div>
      </div>
    </div>
  </div>

</body>

<script>
  async function loadTickets() {
    try {
      await window.ethereum.request({ method: 'eth_requestAccounts' });

      const provider = new ethers.providers.Web3Provider(window.ethereum);
      const signer = provider.getSigner();
      const userAddress = await signer.getAddress();
      const contract = new ethers.Contract(contractAddress, contractABI, signer);

      const ticketIds = await contract.getUserAllTickets(userAddress);

      const ticketDetails = [];

      for (let i = 0; i < ticketIds.length; i++) {
        const ticketId = ticketIds[i];
        const eventId = await contract.getEventIdByTicket(ticketId);
        const eventDetails = await contract.getEventDetails(eventId);

        const ticketInfo = {
          id: ticketId,
          eventName: eventDetails[1],
          eventDetails: eventDetails[2],
          totalTickets: eventDetails[3],
          price: eventDetails[4],
          eventImage: eventDetails[5],
          ticketImage: eventDetails[6],
          ticketsSold: eventDetails[8]
        };

        // Check if the ticket is for sale
        const isForSale = await contract.isForSale(ticketId);
        ticketInfo.isForSale = isForSale;

        ticketDetails.push(ticketInfo);
      }

      const ticketList = document.getElementById('ticketList');
      ticketList.innerHTML = '';

      ticketDetails.forEach((ticket) => {
        if (ticket.id > 0) {
          const listItem = document.createElement('li');
          listItem.classList.add('list-group-item', 'm-2', 'bg-dark', 'text-white', 'rounded');

          const divRow = document.createElement('div');
          divRow.classList.add('row');

          const divLeft = document.createElement('div');
          divLeft.classList.add('col-7');

          const divRight = document.createElement('div');
          divRight.classList.add('col-5');

          const eventNameElement = document.createElement('h3');
          eventNameElement.classList.add('mt-2');
          eventNameElement.textContent = `Event Name: ${ticket.eventName}`;

          const eventDetailsElement = document.createElement('p');
          eventDetailsElement.textContent = `Details: ${ticket.eventDetails}`;

          const ticketIdElement = document.createElement('p');
          ticketIdElement.classList.add('m-2');
          ticketIdElement.textContent = `Ticket ID: ${ticket.id}`;

          const priceElement = document.createElement('p');
          priceElement.classList.add('m-2');
          priceElement.textContent = `Price: ${ethers.utils.formatEther(ticket.price)} ETH`;

          const eventImageElement = document.createElement('img');
          eventImageElement.src = ticket.eventImage;
          eventImageElement.alt = 'Event Image';
          eventImageElement.style.maxWidth = '300px';

          const ticketImageElement = document.createElement('img');
          ticketImageElement.src = ticket.ticketImage;
          ticketImageElement.classList.add('m-2');
          ticketImageElement.alt = 'Ticket Image';
          ticketImageElement.style.maxWidth = '150px';

          const transferButton = document.createElement('button');
          transferButton.classList.add('btn','btn-sm', 'button-one', 'm-2');
          transferButton.textContent = 'Transfer Ticket';
          transferButton.onclick = () => openTransferModal(ticket.id);

          const resaleButton = document.createElement('button');
          resaleButton.classList.add('btn', 'btn-sm', 'button-one', 'm-2');
          resaleButton.textContent = ticket.isForSale ? 'Remove from Resale' : 'Sell Ticket';
          resaleButton.onclick = ticket.isForSale ? () => removeTicketFromSale(ticket.id) : () => openSellModal(ticket.id);

          const viewButton = document.createElement('a');
          viewButton.textContent = 'Ticket Details';
          viewButton.classList.add('btn', 'btn-sm', 'button-two-alt', 'm-2');
          viewButton.href = `/ticketdetails?ticketId=${ticket.id}`;

          divLeft.appendChild(eventImageElement);
          divLeft.appendChild(eventNameElement);
          divLeft.appendChild(eventDetailsElement);
          divRight.appendChild(ticketImageElement);
          divRight.appendChild(ticketIdElement);
          divRight.appendChild(priceElement);
          divRight.appendChild(transferButton);
          divRight.appendChild(resaleButton);
          divRight.appendChild(viewButton);

          divRow.appendChild(divLeft);
          divRow.appendChild(divRight);

          listItem.appendChild(divRow);

          ticketList.appendChild(listItem);
        }
      });

    } catch (error) {
      console.error('Error loading tickets:', error);
      alert('Error loading tickets. Check the console for more details.');
    }
  }

  function openTransferModal(ticketId) {
    const transferModal = document.getElementById('transferModal');
    const transferTicketId = document.getElementById('transferTicketId');
    transferTicketId.value = ticketId;
    $(transferModal).modal('show');
  }

  function openSellModal(ticketId) {
    const transferModal = document.getElementById('listTicketModal');
    const sellTicketId = document.getElementById('sellTicketId');
    sellTicketId.value = ticketId;
    $(transferModal).modal('show');
  }

  async function transferTicket(event) {
    event.preventDefault(); // Prevent form submission
    const transferForm = document.getElementById('transferForm');
    const recipientAddress = transferForm.recipientAddress.value;
    const ticketId = transferForm.transferTicketId.value;

    try {
        const provider = new ethers.providers.Web3Provider(window.ethereum);
        const signer = provider.getSigner();
        const userAddress = await signer.getAddress(); // Obtenha o endereço do usuário
        const contract = new ethers.Contract(contractAddress, contractABI, signer);

        // Verifique se o usuário é o proprietário do ticket antes de tentar transferir
        const owner = await contract.ownerOf(ticketId);
        if (owner.toLowerCase() !== userAddress.toLowerCase()) {
            throw new Error("Not the owner of the ticket");
        }

        const tx = await contract.transferTicket(recipientAddress, ticketId);
        await tx.wait(); // wait for the transaction to be mined

        alert('Ticket transferred successfully!');
        $('#transferModal').modal('hide'); // Close modal after transfer
        loadTickets(); // Reload tickets after transfer
    } catch (error) {
        console.error('Error transferring ticket:', error);
        alert(`Error transferring ticket: ${error.message}`);
    }
}

  async function listTicketForSale() {
    const ticketId = document.getElementById('sellTicketId').value;
    const ticketPrice = document.getElementById('ticketPrice').value;

    try {
      const provider = new ethers.providers.Web3Provider(window.ethereum);
      const signer = provider.getSigner();
      const contract = new ethers.Contract(contractAddress, contractABI, signer);

      const overrides = {
        gasLimit: ethers.utils.hexlify(300000),
      };

      const tx = await contract.listTicketForSale(ticketId, ethers.utils.parseEther(ticketPrice), overrides);
      await tx.wait(); // wait for the transaction to be mined

      alert('Ticket listed for sale successfully!');
      $('#listTicketModal').modal('hide'); // Close modal after listing
      loadTickets(); // Reload tickets after listing
    } catch (error) {
      console.error('Error listing ticket for sale:', error);
      alert('Error listing ticket for sale.');
    }
  }

  async function removeTicketFromSale(ticketId) {
    try {
      const provider = new ethers.providers.Web3Provider(window.ethereum);
      const signer = provider.getSigner();
      const contract = new ethers.Contract(contractAddress, contractABI, signer);

      const tx = await contract.removeTicketFromSale(ticketId);
      await tx.wait(); // wait for the transaction to be mined

      alert('Ticket removed from sale successfully!');
      loadTickets(); // Reload tickets after removal
    } catch (error) {
      console.error('Error removing ticket from sale:', error);
      alert('Error removing ticket from sale. Check the console for more details.');
    }
  }

  document.getElementById('transferForm').addEventListener('submit', transferTicket);

  window.onload = loadTickets;

</script>

<%- include partials/footer.ejs %>
