<%- include partials/header.ejs %>

<body>
  <div class="text-center m-4">
    <h1><i class="bi bi-ticket-perforated-fill first-color"></i> Ticket Details</h1>
    <p>Details of your selected ticket.</p>
  </div>

  <div id="ticketDetails" class="d-flex justify-content-center m-2"></div>

  <div id="eventDetails" class="d-flex justify-content-center m-2"></div>

  <script>
    async function loadTicketDetails() {
      const urlParams = new URLSearchParams(window.location.search);
      const ticketId = urlParams.get('ticketId');

      if (!ticketId) {
        alert('Ticket ID is missing!');
        return;
      }

      try {
        await window.ethereum.request({ method: 'eth_requestAccounts' });

        const provider = new ethers.providers.Web3Provider(window.ethereum);
        const signer = provider.getSigner();
        const contract = new ethers.Contract(contractAddress, contractABI, signer);

        const eventId = await contract.getEventIdByTicket(ticketId);
        const eventDetails = await contract.getEventDetails(eventId);

        const ticketInfo = {
          id: ticketId,
          eventName: eventDetails[1],
          eventDetails: eventDetails[2],
          totalTickets: eventDetails[3],
          price: eventDetails[4],
          eventImage: eventDetails[5],
          ticketImage: eventDetails[6],
          ticketsSold: eventDetails[8]
        };

        const ticketDetailsContainer = document.getElementById('ticketDetails');
        const eventDetailsContainer = document.getElementById('eventDetails');

        const detailCardTicket = document.createElement('div');
        detailCardTicket.classList.add('card', 'bg-dark', 'text-white', 'col-7');

        const detailCardEvent = document.createElement('div');
        detailCardEvent.classList.add('card', 'bg-dark', 'text-white', 'col-7');

        const cardBodyTicket = document.createElement('div');
        cardBodyTicket.classList.add('card-body', 'd-flex', 'flex-column', 'justify-content-center', 'align-items-center');

        const cardBodyEvent = document.createElement('div');
        cardBodyEvent.classList.add('card-body', 'd-flex', 'flex-column', 'justify-content-center', 'align-items-center');

        const eventNameElement = document.createElement('h3');
        eventNameElement.classList.add('m-2');
        eventNameElement.textContent = `Event Name: ${ticketInfo.eventName}`;

        const eventDetailsElement = document.createElement('p');
        eventDetailsElement.classList.add('m-2');
        eventDetailsElement.textContent = `Details: ${ticketInfo.eventDetails}`;

        const ticketIdElement = document.createElement('p');
        ticketIdElement.classList.add('m-2');
        ticketIdElement.textContent = `Ticket ID: ${ticketInfo.id}`;

        const priceElement = document.createElement('p');
        priceElement.classList.add('m-2');
        priceElement.textContent = `Price: ${ethers.utils.formatEther(ticketInfo.price)} ETH`;

        const eventImageElement = document.createElement('img');
        eventImageElement.classList.add('m-2');
        eventImageElement.src = ticketInfo.eventImage;
        eventImageElement.alt = 'Event Image';
        eventImageElement.style.maxWidth = '40%';

        const ticketImageElement = document.createElement('img');
        ticketImageElement.classList.add('m-2');
        ticketImageElement.src = ticketInfo.ticketImage;
        ticketImageElement.alt = 'Ticket Image';
        ticketImageElement.style.maxWidth = '50%';

        const ticketUsedElement = document.createElement('p');
        ticketUsedElement.classList.add('m-2');
        ticketUsedElement.innerHTML = 'Used: <%= ticket.ticketUsed ? 'Yes' : 'No' %>';
        

        cardBodyTicket.appendChild(ticketImageElement);
        cardBodyTicket.appendChild(ticketIdElement);
        cardBodyTicket.appendChild(ticketUsedElement);
        cardBodyTicket.appendChild(priceElement);

        cardBodyEvent.appendChild(eventImageElement);
        cardBodyEvent.appendChild(eventNameElement);
        cardBodyEvent.appendChild(eventDetailsElement);

        detailCardTicket.appendChild(cardBodyTicket);
        detailCardEvent.appendChild(cardBodyEvent);

        ticketDetailsContainer.appendChild(detailCardTicket);
        eventDetailsContainer.appendChild(detailCardEvent);
      } catch (error) {
        console.error('Error loading ticket details:', error);
        alert('Error loading ticket details. Check the console for more details.');
      }
    }

    window.onload = loadTicketDetails;
  </script>

<%- include partials/footer.ejs %>
