body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.first-color {
  color: #00F6FF;
}

.second-color {
  color: #28BDC2;
}

.third-color {
  color: #005A5D;
}

.third-back {
  background-color: #005A5D;
}

.button-one {
  background-color: #28BDC2;
  color: white;
}

.button-one:hover {
  background-color: #005A5D;
  color: white;
}

.button-two {
  background-color: none;
  border: 1px solid #005A5D !important;
  color: #005A5D;
}

.button-two:hover {
  background-color: #005A5D;
  border: 1px solid white;
  color: white;
}

.button-three {
  color: #00F6FF !important;
}

.button-three:hover {
  color: #005A5D !important;
}