body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.first-color {
  background-color: #00F6FF;
}

.second-color {
  background-color: #28BDC2;
}

.third-color {
  background-color: #005A5D;
}

