<!-- views/manag/addevent.ejs -->
<%- include('../partials/header.ejs') %>

<body>

  <div class="text-center m-4">
    <h1>Create new Event</h1>
  </div>
  <div class="d-flex justify-content-center">
    <div class="m-4 bg-dark text-white p-4 rounded col-9">
        <form id="eventForm" onsubmit="return false;">
            <div class="mb-3">
                <label for="eventName" class="form-label">Event Name</label>
                <input type="text" class="form-control" id="eventName" name="eventName" required>
            </div>
            <div class="mb-3">
                <label for="details" class="form-label">Details</label>
                <textarea class="form-control" id="details" name="details" rows="3" required></textarea>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="totalTickets" class="form-label">Total Tickets</label>
                    <input type="number" class="form-control" id="totalTickets" name="totalTickets" required>
                </div>
                <div class="col mb-3">
                    <label for="price" class="form-label">Price (ETH)</label>
                    <input type="number" step="any" class="form-control" id="price" name="price" required>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="eventImage" class="form-label">Event Image (IPFS URL Link)</label>
                    <input type="url" class="form-control" id="eventImage" name="eventImage" required>
                </div>
                <div class="col mb-3">
                    <label for="ticketImage" class="form-label">Ticket Image (IPFS URL Link)</label>
                    <input type="url" class="form-control" id="ticketImage" name="ticketImage" required>
                </div>
            </div>
            <button type="submit" class="btn button-one mt-2" onclick="addEvent()">Create Event</button>
        </form>
    </div>
  </div>

<script>
    async function addEvent() {
        try {
            // Requests a connection to the user's wallet
            await window.ethereum.request({ method: 'eth_requestAccounts' });

            const provider = new ethers.providers.Web3Provider(window.ethereum);
            const signer = provider.getSigner();
            
            const contract = new ethers.Contract(contractAddress, contractABI, signer);

            const formData = new FormData(document.getElementById('eventForm'));
            const eventName = formData.get('eventName');
            const details = formData.get('details');
            const totalTickets = parseInt(formData.get('totalTickets'));
            const price = ethers.utils.parseEther(formData.get('price'));
            const eventImage = formData.get('eventImage');
            const ticketImage = formData.get('ticketImage');

            const tx = await contract.createEvent(eventName, details, totalTickets, price, eventImage, ticketImage);
            await tx.wait();

            alert('Event added with success!');
        } catch (error) {
            console.error('Error trying to add new event: ', error);
            alert('Error trying to add new event.');
        }
    }
</script>

</body>

<%- include('../partials/footer.ejs') %>
