<!-- views/manag/addevent.ejs -->
<%- include('../partials/header.ejs') %>

<body>

  <div class="container mt-4">
    <h1><%= title %></h1>
    <p>Add a new event to the chain</p>
  </div>

</body>

<%- include('../partials/footer.ejs') %>
