<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>

        <!-- CSS link -->
        <link rel='stylesheet' href='/stylesheets/style.css' />

    </head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <p>Navigation here!</p>
        <div class="first-color" style="height: 2px;"></div>
    </nav>
