<%- include partials/header.ejs %>

<body>

  <div class="text-center mt-4">
      <h5>Account Details</h5>
  </div>

  <div class="d-flex justify-content-center mt-4 text-white">
      <!--Connecting to MetaMask -->
      <div id="readArea" class="bg-dark p-2 m-2 rounded d-flex align-items-center flex-column" style="width: 32rem;">
          <div class="m-4 d-flex flex-column align-items-center">
              <a id="connectBtn" class="btn btn-primary m-2" onclick="connectMetamask()">CONNECT TO METAMASK</a>
              <p class="m-2" id="userArea"><strong>Status:</strong> Not connected to Metamask</p>
          </div>
      </div>
  </div>

  <script>

    // Account variable
    let account;

    // Ethers.js provider variable
    let provider = new ethers.providers.Web3Provider(window.ethereum);

    // Connect to MetaMask function.
    const connectMetamask = async () => {
      if (typeof window.ethereum !== "undefined") {
        try {
          const accounts = await ethereum.request({ method: "eth_requestAccounts" });
          const userAddress = accounts[0];
          // Redirect to manag/adduser.ejs with the MetaMask address as query paramter string
          window.location.href = `/manag/adduser?userMetamaskAdr=${userAddress}`;
        } catch (error) {
          console.error('Error connecting to Metamask:', error);
        }
      } else {
        console.error('MetaMask not detected.');
      }
    }

    // Update the account status and details after verifying (Eventlistener)
    const updateAccount = async () => {
        if (typeof window.ethereum !== "undefined") {
            try {
                const accounts = await ethereum.request({ method: "eth_accounts" });
                if (accounts.length > 0) {
                    const userAddress = accounts[0];
                    const response = await fetch(`/users?userMetamaskAdr=${userAddress}`);
                    if (response.ok) {
                        const userData = await response.json();
                        account = userData.userMetamaskAdr;
                        const userName = userData.userName || 'Not provided';
                        const userNickname = userData.userNickname || 'Not provided';
                        const userCity = userData.userCity || 'Not provided';
                        const userEmail = userData.userEmail || 'Not provided';
                        console.log("Account: " + account);
                        console.log("userName: " + userName);

                        document.getElementById("userArea").innerHTML = `
                            <strong>User Account:</strong> ${account}<br>
                            <strong>Name:</strong> ${userName}<br>
                            <strong>Nickname:</strong> ${userNickname}<br>
                            <strong>City:</strong> ${userCity}<br>
                            <strong>Email:</strong> ${userEmail}
                        `;
                        document.getElementById("connectBtn").textContent = "Successfully connected";
                        document.getElementById("connectBtn").classList.remove("btn", "btn-primary");
                        document.getElementById("connectBtn").classList.add("bg-success", "p-2", "rounded");

                        // Adicionar botão para redirecionar para tickets.ejs
                        const ticketsButton = document.createElement("a");
                        ticketsButton.textContent = "Go to My Tickets";
                        ticketsButton.classList.add("btn", "btn-primary", "m-4");
                        ticketsButton.href = "/tickets";
                        document.getElementById("readArea").appendChild(ticketsButton);

                    } else {
                        account = null;
                        document.getElementById("userArea").innerHTML = "<strong>Status:</strong> Not connected to MetaMask";
                        document.getElementById("connectBtn").textContent = "CONNECT TO METAMASK";
                        document.getElementById("connectBtn").classList.remove("bg-success", "p-2", "rounded");
                        document.getElementById("connectBtn").classList.add("btn", "btn-primary");
                    }
                } else {
                    account = null;
                    document.getElementById("userArea").innerHTML = "<strong>Status:</strong> Not connected to MetaMask";
                    document.getElementById("connectBtn").textContent = "CONNECT TO METAMASK";
                    document.getElementById("connectBtn").classList.remove("bg-success", "p-2", "rounded");
                    document.getElementById("connectBtn").classList.add("btn", "btn-primary");
                }
            } catch (error) {
                console.error('Error updating account:', error);
                account = null;
                document.getElementById("userArea").innerHTML = "<strong>Status:</strong> Not connected to MetaMask";
                document.getElementById("connectBtn").textContent = "CONNECT TO METAMASK";
                document.getElementById("connectBtn").classList.remove("bg-success", "p-2", "rounded");
                document.getElementById("connectBtn").classList.add("btn", "btn-primary");
            }
        } else {
            console.error('MetaMask not detected.');
            account = null;
            document.getElementById("userArea").innerHTML = "<strong>Status:</strong> MetaMask not detected";
            document.getElementById("connectBtn").textContent = "CONNECT TO METAMASK";
            document.getElementById("connectBtn").classList.remove("bg-success", "p-2", "rounded");
            document.getElementById("connectBtn").classList.add("btn", "btn-primary");
        }
    }

    // EventListners to Update the account data after load the page
      window.addEventListener('load', async () => {
          await updateAccount();
      });

  </script>

</body>

<%- include partials/footer.ejs %>